{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  <link href="{% static 'home/datatables.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"> 
  <title>{% block title %}Gestion des entrées/sorties{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body  style="background-color:rgb(237, 247, 247);">
    <!-- Menu de navigation -->
    <nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 offset-md-5">
              <li class="nav-item"></li>
                <a class="nav-link text-white" aria-current="page" href="{% url 'maintenance' %}"><strong>Maintenance</strong></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item"></li>
                <a class="nav-link text-white" aria-current="page" href="{% url 'remplacement' %}"><strong>Remplacement</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container mt-5">
        
        <!-- tableau des dernier enregistrements -->
        <section class="banner d-flex justify-content-center pt-5">
            <div class="container my-5">
                
              {% block content %}
              <table class="table" id="myTable">

                <thead class="table-light">
                    <tr>
                        <th>Contrats</th>
                        <th>...</th>
                        <th>...</th>
                        <th>...</th>
                        <th>...</th>

                    </tr>
                </thead>
                <tr>
                    <td>nom du comtrat</td>
                    <td>nom du comtrat</td>
                    <td>nom du comtrat</td>
                    <td>125478888</td>
                    <td>nom du comtrat</td>
                </tr>
            </table>
              {% endblock %}
        </section>
    </div>

        <!-- Footer -->
      <footer class="bg-primary">
          <div class="container p-0 position-fixed">
          </div>
      </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="{% static 'home/datatables.js' %}"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
</body>
</html>