{% extends 'home/home.html' %}
{% block content %}
<div class="container">
  <div class="container shadow bg-body  w-53 text-black p-3">
    <h3 class="text-center">ETAT DES ENTREES ET SORTIES CENTRE DE MAINTENANCE</h3>
</div>
<br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_ajout">
    <i class="fa-solid fa-plus" title="Ajouter un nouveau type"></i>
</button>
<!-- Modal -->
<div class="modal fade" id="modal_ajout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire de saisie d'entrées/sorties</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="row g-3" action="{% url 'maintenance' %}" method="post" autocomplete="off">
			{% csrf_token %}
            <div class="modal-body">
				<div class="col-md-12">
					<label for="hotline">Equipement</label>
                        <select id="hotline" class="form-select" name="hotline">
							<option value=""></option>
                        {% for hotline in hotlines %}
							{% if hotline.isMaintenance == 'oui' %}
                        		<option value="{{ hotline.id }}">{{ hotline.designation }} - {{ hotline.serialNumber }}</option>
							{% endif %}
                        {% endfor %}
                    </select>
					<label for="date_entree">Date d'entrée</label>
					<input type="date"  class="form-control form-control-ms mb-3" name="date_entree">
					<label for="diagnostic">Diagnostic</label>
					<input type="text"  class="form-control form-control-ms mb-3" name="diagnostic">
					<label for="status">Travaux effectués</label>
                    <select id="status" class="form-select" name="status">
                        <option value=""></option>
                        {% for statut in statuts %}
                        	<option value="{{ statut.id }}">{{ statut.libelle }}</option>
                        {% endfor %}
                    </select>
					<label for="observation">Observation</label>
					<input type="text"  class="form-control form-control-ms mb-3" name="observation">
					<label for="date_sortie">Date de sortie</label>
					<input type="date"  class="form-control form-control-ms mb-3" name="date_sortie">
				</div>
            </div>
            <div class="col-12 modal-footer">
              <button type="submit" class="btn btn-primary">Valider</button>
            </div>
          </form>
    </div>
    </div>
</div><br><br>
<div class="container">
  {% if save_data == 'ok' %}
  <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  <strong><i class="fa-solid fa-circle-check"></i> Enregistrement réussi!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% if update_data == 'ok' %}
  <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  <strong><i class="fa-solid fa-circle-check"></i> Modification réussi!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <table class="table" id="myTable">
    <thead class="table-light">
      <tr>
		<th scope="col">Equipement</th>
        <th scope="col">Date d'entrée</th>
		<th scope="col">Diagnostic</th>
        <th scope="col">Status</th>
        <th scope="col">Observation</th>
        <th scope="col">Date de sortie</th>
		<th scope="col">Créer par</th>
		<th scope="col">Modifier par</th>
        <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody class="table-group-divider">
      {% for maintenance in maintenances %}
      <tr>
		<td>{{ maintenance.hotline.designation }} - {{ maintenance.hotline.serialNumber }}</td>
        <td>{{ maintenance.date_entree|date:'d-m-Y' }}</td>
        <td>{{ maintenance.diagnostic }}</td>
        <td>{{ maintenance.status.libelle }}</td>
        <td>{{ maintenance.observation }}</td>
        <td>{{ maintenance.date_sortie }}</td>
		<td>{{ maintenance.user.first_name }} {{ maintenance.user.last_name }}</td>
		<td>{{ maintenance.updated_by }}</td>
        <td>
            <button type="button" class="btn btn-primary position-center  translate-light" data-bs-toggle="modal" 
            data-bs-target="#modal_update{{ maintenance.id }}"><i class="fa-solid fa-pen"></i></button>
            <!-- Modal -->
            <div class="modal fade" id="modal_update{{ maintenance.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modification</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'maintenance-update' maintenance.id %}"  method="post" autocomplete="off">
                        <div class="modal-body ">
                        {% csrf_token %}
						<label for="hotline">Equipement</label>
                        <select id="hotline" class="form-select" name="hotline">
                        <option value="{{ maintenance.status.id }}">{{ maintenance.hotline.designation }} - {{ maintenance.hotline.serialNumber }}</option>
                          {% for status in statuts %}
                            <option value="{{ status.id }}">{{ status.libelle }}</option>
                          {% endfor %}
                        </select>
						<label for="date_entree">Date d'entrée</label>
                        <input type="date"  class="form-control form-control-ms mb-3"  value="{{ maintenance.date_entree}}" name="date_entree">
                        <label for="diagnostic">Diagnostic</label>
                        <input type="text"  class="form-control form-control-ms mb-3"  value="{{ maintenance.diagnostic}}" name="diagnostic">
                        <label for="observation">Observation</label>
                        <input type="text"  class="form-control form-control-ms mb-3"  value="{{ maintenance.observation}}" name="observation">
                        <label for="status">Travaux effectués</label>
                        <select id="status" class="form-select" name="status">
                        <option value="{{ maintenance.status.id }}">{{ maintenance.status.libelle }}</option>
                          {% for status in statuts %}
                            <option value="{{ status.id }}">{{ status.libelle }}</option>
                          {% endfor %}
                        </select>
                        </div>
                        <label for="date_sortie">Date de sortie</label>
                        <input type="date"  class="form-control form-control-ms mb-3"  value="{{ maintenance.date_sortie}}" name="date_sortie">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <input type="submit" value="Valider" class="btn btn-success">
                            <input type="hidden" name="id" value="{{ maintenance.id }}">
							<input type="hidden" name="updated_by" value="{{ user.first_name }} {{ user.last_name }}">
                        </div>
                    </form>
              </td>
        </div>         
        </div>       
      </div>        
        
{% endfor %}
</tbody>
</table>
</div
{% endblock %}